<h1>Dog Shelters</h1>
<ul>
  <% @shelters.each do |shelter| %>
    <li>
      <h2><%= link_to shelter.name, shelter_path(shelter) %></h2>
      <p>Location: <%= shelter.location %></p>
      <p>Contact Info: <%= shelter.contact_info %></p>
      <p>Website: <%= link_to shelter.website_url, shelter.website_url, target: "_blank" %></p>
    </li>
  <% end %>
</ul>
