<h1>About DogPals</h1>
<p>This project uses data from various sources to provide information about dogs and shelters. The main data sources include:</p>
<ul>
  <li>Data Source 1: Description of the data source.</li>
  <li>Data Source 2: Description of the data source.</li>
  <!-- Add more data sources as needed -->
</ul>

<%# Optional: Display your ERD here %>
<h2>Entity-Relationship Diagram (ERD)</h2>
<p>You can include an image of your ERD here if you have one:</p>
<%= image_tag 'path_to_your_erd_image.png', alt: 'ERD' %>
